@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap");

:root {
  --pumpkin: #f16718; /* Button 1 Normal State */
  --tangerine: #ff9b62; /* Button 1 Hover State */
  --midnight-express: #162542; /* Heading Text Button 2 Hover State*/
  --ship-cove: #7b8bad; /* Body Text */
  --alice-blue: #ebeff2; /* Button 2 Normal State */
  --white: #fff; /* Buttons Text Hover State */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow", sans-serif;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  color: #162542;
  text-transform: uppercase;
}

h1 {
  font-size: 5.6rem;
  line-height: 5.6rem;
}

h2 {
  font-size: 4.8rem;
  line-height: 4.8rem;
}

h3 {
  font-size: 3.2rem;
  line-height: 3.6rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 2.8rem;
}

h5 {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #7b8bad;
  text-transform: uppercase;
  font-weight: 700;
}

p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 500;
  color: #7b8bad;
}

/* Button One Component */
.button-one button {
  width: 151px;
  height: 48px;
  background-color: #ebeff2;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  color: #162542;
  text-transform: uppercase;
}

/* Button Two Component */
.button-two button {
  width: 151px;
  height: 48px;
  background-color: #f16718;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

/* Header Component */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-bottom: 25px;
}

/* Typemaster Component */
.typemaster {
  padding: 25px;
}

.typemaster-heading,
.typemaster-body {
  margin-bottom: 25px;
}

.typemaster-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.typemaster-keyboard {
  border-radius: 20px;
  position: relative;
  right: -50px;
}

/* Mechanical Component */
.mechanical {
  padding: 25px;
}

.mechanical-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.mechanical-images img {
  border-radius: 20px;
}

.mechanical-body {
  text-align: center;
}

.mechanical-body h3 {
  padding: 0 15px;
  margin-bottom: 25px;
}

.mechanical-body p {
  padding: 0 5px;
}
